*{
            margin: 0;
            padding: 0;
            scroll-behavior: smooth;
        }
        body{
            background-color: darkgrey;
            
        }
        header{
            position: sticky;
            top: 0;
            width: 100%;
            display: flex;
            justify-content: center;
            background-color: #e0e0e0;
            padding: 10px 0;
            box-shadow: 0px 2px 5px rgba(0,0,0,0.3);
        }
        nav li{
            border-radius: 5px;
            display: inline-block;
            margin: 10px;
            background-color: #c0c0c0;
            padding: 5px 20px;
            height: 30px;
        }
        nav a{
            
            height: 30px;
            width: 80px;
            text-decoration: none;
            color: black;
            font-weight: bold;
        }
        nav a:hover{
            color: red;
        }
        main{
            width: 80vw;
            margin: auto ;
            background-color: white;
            padding: 10px 0px;
        }
        main h1{
            text-align: center;
            padding: 20px 0;
        }
        main p{
            padding: 10px 20px;
            font-size: 18px;
        }
        main img{
            height: 200px;
            width: 200px;
        }
        .bloco_horizontal{
            display: flex;
            justify-content: center;
            gap: 20px;
            padding: 20px 0;
        }
        .individual{
            width: 200px;
            text-align: justify;
            background-color: #c0c0c0;
            border: 10px solid #c0c0c0;
            border-radius: 10px; 
        }
        .formacao{
            padding: 10px 40px;
            list-style-type: none;
        }
        
        .tecnologias{
            box-shadow: 0px 2px 5px rgba(0,0,0,0.3);
            margin: auto ;
            background-color: #c0c0c0;
            width: 85%;
            border-radius: 5px;
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 20px 0;
        }
        footer{
            box-shadow: 0px -2px 5px rgba(0,0,0,0.3);
            background-color: #e0e0e0;
            text-align: center;
        }